<article class="post mb-2">
  <a class="comment-link" href="/post/{{id}}">
    <div class="post-title">
      <h3 class="align-left">
        {{title}}
      </h3>
      <div class="mt-2 align-right">
        Posted by {{user.username}} on {{format_date created_at}}
        
      </div>
      <div style="clear: both;"></div>
    </div>
  </a>
  <div class="post-body">
    <p class="post-content">{{post_content}}</p>
  </div>
</article>